<div class="body-flex-grid">
  <div class="flex-col">
    <div class="centered">
      Market Breadth<br>
      <i class="fas fa-chart-bar"></i>
    </div>
    <hr>
    <%= image_tag 'four_pct_monitor', width: '100%' %>
    <p class='static-body-copy'>
      Price backed market readings isolating periods of broad based participation and general market trends.
    </p>
  </div>
  <div class="flex-col">
    <div class="centered">
      <i class="fas fa-chart-area"></i>
    </div>
    <hr>
    <p class='static-body-copy'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, reiciendis. Aliquid dignissimos sit quae odit! Recusandae officia minima quaerat a ipsa soluta esse rem voluptatem, natus nam modi dignissimos itaque.
    </p>
  </div>
  <div class="flex-col">
    <div class="centered">
      <i class="fas fa-chess-knight"></i>
    </div>
    <hr>
    <p class='static-body-copy'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt molestiae aut ipsum sequi reiciendis. Tempore hic aperiam aut eaque odio dolorem, sapiente pariatur, ipsum doloribus animi temporibus earum atque facilis!
    </p>
  </div>
</div>
