<div class="body-flex-grid">
  <div class="flex-col">
    <div class="centered">
      <i class="fas fa-chart-bar"></i>
    </div>
    <hr>
    <p class='static-body-copy'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil laudantium fugit odio consectetur perferendis quidem facilis obcaecati odit pariatur, molestias similique sint temporibus facere voluptates porro. Cupiditate excepturi sapiente nam.
    </p>
  </div>
  <div class="flex-col">
    <div class="centered">
      <i class="fas fa-chart-area"></i>
    </div>
    <hr>
    <p class='static-body-copy'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, reiciendis. Aliquid dignissimos sit quae odit! Recusandae officia minima quaerat a ipsa soluta esse rem voluptatem, natus nam modi dignissimos itaque.
    </p>
  </div>
  <div class="flex-col">
    <div class="centered">
      <i class="fas fa-chess-knight"></i>
    </div>
    <hr>
    <p class='static-body-copy'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt molestiae aut ipsum sequi reiciendis. Tempore hic aperiam aut eaque odio dolorem, sapiente pariatur, ipsum doloribus animi temporibus earum atque facilis!
    </p>
  </div>
</div>
