<div class="body-flex-grid">
  <div class="flex-col">
    <div class="centered">
      Market Breadth<br>
      <i class="fas fa-chart-bar"></i>
    </div>
    <hr>
    <%= image_tag 'four_pct_monitor', width: '100%', class: 'onhover-enlarge-image' %>
    <p class='static-body-copy'>
      Price backed market readings isolating periods of broad based participation and general market trends.
    </p>
  </div>
  <div class="flex-col">
    <div class="centered">
      <i class="fas fa-chart-area"></i>
    </div>
    <hr>
    <p class='static-body-copy'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, reiciendis. Aliquid dignissimos sit quae odit! Recusandae officia minima quaerat a ipsa soluta esse rem voluptatem, natus nam modi dignissimos itaque.
    </p>
  </div>
  <div class="flex-col">
    <div class="centered">
      High Lows<br>
      <i class="fas fa-chess-knight"></i>
    </div>
    <hr>
    <%= image_tag 'hi-low', width: '100%%', height: '50%', class: 'onhover-enlarge-image' %>
    <p class='static-body-copy'>
      New Highs - New Lows:  Isolate periods of robustness when new highs across multiple time frames eclipse new lows,
      static market periods of churns when these numbers condence sideways, and periods of market declines when new lows
      eclipse new highs.
    </p>
  </div>
</div>
