<div class="hero-text-box">
  <h1>Scanner and Utilities</h1>
  <h3>Market Breadth</h3>
  <h3>Stock Screens</h3>
  <h3>Analysis</h3>
</div>
<div class='post-header-copy'>
  <h1 class='centered'>Recent Post</h1>
  <div class="static-body-post">
    <section class="static-body-blog">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dignissimos voluptatem ea, voluptates similique possimus ipsum voluptate dolorum repellendus inventore, nam, animi et eaque magnam veritatis. Qui laborum, nulla neque!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt cum minima quidem optio accusamus ex, officia doloremque, quae fuga voluptatum quod, accusantium laborum eveniet. Ratione, dicta, quasi. Sequi, veritatis, laudantium.
      </p>
      <p>
        bacon
      </p>
    </section>
  </div>
</div>
