<h1 class='centered'>Editing Tradeable Universe</h1>

<%= render 'form', tradeable_universe: @tradeable_universe %>

<%= link_to 'Show', @tradeable_universe %> |
<%= link_to 'Back', tradeable_universes_path %>
