<div id="footer">
  <%= link_to 'Tradeable Universe', charts_momentum_universe_path %>
  <%= link_to ' New Leadership', charts_new_leadership_path %>
  <%= link_to 'Index w/ Breakout Chart', charts_four_percent_index_path %>
  <%= link_to 'New High New Low Differential', charts_google_charts_path %>
</div>
