<%= render 'layouts/navigation/mobile/mobile_menu' %>
<header>
  <nav>
    <ul class="main-nav">
      <%= render navigation_links %>
      <%= render logout_link %>
    </ul>
    <ul class="mobile-nav">
      <%= render mobile_navigation_links %>
    </ul>
  </nav>
</header>
