<nav>
  <%= link_to 'Daily High Lows', daily_high_lows_path %>
  <%= link_to 'New Symbol', new_stock_symbol_path %>
  <%= link_to 'Five Period Leaders', five_period_leaders_path %>
  <%= link_to 'Price History', new_price_history_path %>
</nav>
