<h1> Google Chart Demo </h1>
<div id="combo-chart"></div>
<%= javascript_pack_tag 'combo_charts' %>
<h1>New High Lows</h1>
<div id="line-chart"></div>
<%= javascript_pack_tag 'high_low_line_chart' %>
