---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/AAPL/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"AAPL","companyName":"Apple Inc.","primaryExchange":"Nasdaq
        Global Select","sector":"Technology","calculationPrice":"close","open":144.5,"openTime":1546612200478,"close":148.26,"closeTime":1546635600686,"high":148.55,"low":143.8,"latestPrice":148.26,"latestSource":"Close","latestTime":"January
        4, 2019","latestUpdate":1546635600686,"latestVolume":57288976,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":148.26,"delayedPriceTime":1546635600686,"extendedPrice":148.01,"extendedChange":-0.25,"extendedChangePercent":-0.00169,"extendedPriceTime":1546639196825,"previousClose":142.19,"change":6.07,"changePercent":0.04269,"iexMarketPercent":null,"iexVolume":null,"avgTotalVolume":47959498,"iexBidPrice":null,"iexBidSize":null,"iexAskPrice":null,"iexAskSize":null,"marketCap":703552707480,"peRatio":12.49,"week52High":233.47,"week52Low":142,"ytdChange":-0.018480212765957432}'
  recorded_at: Sun, 06 Jan 2019 00:39:14 GMT
recorded_with: VCR 4.0.0
