/* Coolors Exported Palette - coolors.co/4e598c-ffffff-f9c784-fcaf58-ff8c42 */

/* HSL */
// $color1: hsla(229%, 28%, 43%, 1);
// $color2: hsla(0%, 0%, 100%, 1);
// $color3: hsla(34%, 91%, 75%, 1);
// $color4: hsla(32%, 96%, 67%, 1);
// $color5: hsla(23%, 100%, 63%, 1);

/* RGB */
$primary: rgba(78, 89, 140, 1);
$secondary: rgba(255, 255, 255, 1);
$tertiary: rgba(249, 199, 132, 1);
$peach: rgba(252, 175, 88, 1);
$orange-friday: rgba(255, 140, 66, 1);
