<div class="flex-container">
  <ul class='mobile-links'>
    <%= render 'layouts/navigation/links/navigation_links' %>
  </ul>
</div>
<button class="nav-tgl" type='button' aria-label='toggle menu'>
  <span aria-hidden='true'></span>
</button>
