// Place all the styles related to the five_period_leaders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#five_period_leader_submit {
  input[type=submit] {
    margin-top: 0.5em;
    width: 50%;
    margin-left: 25%;
  }
}

.padding_05_em {
  padding: 0.5em;
}
