// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "global/normalize";
@import "global/global";
@import "global/grid";



header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), image-url('sunset_background');
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    color: #fff;
  }

  h3 {
    color: #fff;
    font-size: 150%;
    margin: 0;
    padding-left: 0;
  }
}
