#stock_symbol_form {
  background-color: rgba(242,100,25,0.35);
  padding: 1em;
}

input {
  border: solid thin #000;
  background-color: #86BBD8;
  padding-top: 1em;
  margin-top: 1em;
  color: #FFF;
  text-transform: capitalize;
  font-style: bold;
}
