<div class="row">
  <div class='one-em-padding-top'>
    <p class="center-block">
      <%= button_to 'Fetch Price History', fetch_price_history_price_histories_path, method: :post %>
    </p>
  </div>
</div>
<div>
