<h1>Sixty Three Days Fresh High</h1>
<% @sixty_three_period.each do |elem| %>
  <%= elem.symbol %>
<% end %>

<h1>One Hundred Twenty Six Fresh High</h1>

<% @one_hundred_twenty_six_period.each do |elem| %>
  <%= elem.symbol %>
<% end %>

<h1>Two Hundred Fifty Period Fresh High</h1>

<% @two_hundred_fifty_period.each do |elem| %>
  <%= elem.symbol %>
<% end %>

<h1>Five Hundred Period Fresh High</h1>
<% @five_hundred_period.each do |elem| %>
  <%= elem.symbol %>
<% end %>
